<% include index %> 
	<center>
	<br>
	<br>
	<br>

	<h1> Edit Game: </h1>

	<form method="post" action="/editGame/<%= game._id %>" enctype="multipart/form-data">

		<label>Edit Your Game Title (<%= game.gameTitle %>)</label><br>
		<input type="text" name="gameTitle" value="" placeholder=""required>
		<br><br>

		<label>Edit Publisher (<%= game.gamePublisher %>)</label><br>
		<select name="gamePublisher")
		 	<option value="<%= game.gamePublisher %>" >Select</option>
			<% publishers.forEach(function(publisher) { %>
			<option value="<%= publisher.publisher %>"><%= publisher.publisher %></option>
			<% }); %>
		</select>
		<br><br>

		 	<label>Change Image (<img src="../uploads/<%= game.gameImage %>" alt="" style="width:20px;height:20px;">)</label><br>
			<input type="file" name="gameImage" value="<%= game.gameImage %>">
		<br><br>

		<input type="submit" value="Submit">
	</form>

	<form method="delete" action="/deleteGame/<%= game._id %>">
	<input type="submit" value="Delete">
	</form>

	</center>

