
<% include index %> 
	<center>
	<br>
	<br>
	<br>

	<h1> Edit Game: </h1>

	<form method="post" action="/editGame/<%= games._id %>" enctype="multipart/form-data">

		<label>Edit Your Game Title (<%= games.gameTitle %>)</label><br>
		<input type="text" name="gameTitle" value="<%= games.gameTitle %>" placeholder=""required>
		<br><br>

		<label>Edit Publisher (<%= games.gamePublisher[0].publisher %>)</label><br>
		<select name="gamePublisher">
			<option value="" selected>Select</option>
			<% publishers.forEach(function(publisher) { %>
			<option value="<%= publisher._id %>" ><%= publisher.publisher %></option>
			<% }); %>
		</select>
		<br><br>

		 	<label>Change Image (<img src="../uploads/<%= games.gameImage %>" alt="" style="width:20px;height:20px;">)</label><br>
			<input type="file" name="gameImage" value="<%= games.gameImage %>">
		<br><br>

		<input type="submit" value="Submit">
	</form>

	<form method="delete" action="/deleteGame/<%= games._id %>">
	<input type="submit" value="Delete">
	</form>
	</center>


